<h2>Search</h2>
<div class="row">

  <div class="row">
    <form action="/movie/search" method="GET" class="col s12">
      <div class="row">
        <div class="input-field col s6 center">
          <input type="text" id="movieTitle" name="movieTitle">
          <label for="movieTitle">Search</label>
        </div>
      </div>
      <button class="btn grey darken-1" type="submit">submit</button>
    </form>
  </div>

  {{#each movieData.Search}}
  <div class="col s12 m6 l3">
    <div class="card large">
      <div class="card-image">
        <img src="{{Poster}}" class="search-posters">
        <span class="card-title">{{Title}}</span>
      </div>
      <div class="card-content center-align">
        <p>{{Title}}</p>
        <p>{{Year}}</p>
      </div>
      <div class="card-action center">
        <a href="/movie/show/{{imdbID}}" class="btn grey darken-1 center">Rate!</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>