<h1>Search Results</h1>
<div class="row">
  {{#each movieData.Search}}
  <div class="col s12 m6 l3">
    <div class="card large">
      <div class="card-image">
        <img src="{{Poster}}" class="search-posters">
        <span class="card-title">{{Title}}</span>
      </div>
      <div class="card-content center-align">
        <p>{{Title}}</p>
        <p>{{Year}}</p>
      </div>
      <div class="card-action center">
        <a href="/movie/show/{{imdbID}}" class="btn grey darken-1 center">Rate!</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>