<div class="row">
  <div class="col s12 m12 l6">
    <h1>{{movieData.Title}}</h1>
    <img class="center" src="{{movieData.Poster}}">
    <p>{{movieData.Plot}}</p>
    <p>{{movieData.Year}}</p>
    <p>{{movieData.Rated}}</p>
    <p>{{movieData.Genre}}</p>
  </div>
  <div class="col s12 m12 l6">
    <h1>Rate the movie here</h1>
    <p>Some more shit</p>
    <p>little more shit</p>
  </div>
</div>